@use "../../../scss/variables/variables" as v;
@use "../../../scss/variables/mixins/mixins" as m;

.market-container {
  width: 100%;
  overflow: hidden;


  .market-text-container {
    padding: 1rem 1rem 0 1rem;
    .market-header {
      color: v.$primaryTextColor;
      font-size: 1.5rem;
      // padding: 1rem 1rem 0 1rem;
      font-weight: 500;
    }

    .market-undertext {
        text-align: left;
        width: 100%;
        // padding: 0 1rem;
        font-weight: 400;
        color: gray;
        font-size: 1rem;
    }
  }

  

  p {
    color: v.$primaryTextColor;
    font-size: 0.75rem;
  }

  .market-scroll {
    @include m.horScroll;
    .market-card {
      flex: 0 0 200px; // Gör varje kort 250px brett och förhindrar flexbox att ändra storleken
      @include m.border(all, 1px, solid, v.$borderColor);
      padding: 1rem;
      border-radius: 12px;
      .name-performance {
        @include m.flex(row, space-between, center);
      
        .positive {
          color: v.$positiveTextColor;
          font-size: 0.75rem;
      }

      .negative {
          color: v.$negativeTextColor;
          font-size: 0.75rem;
      }
      }
    }
  }

  .line-father {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem; 
    .line {
      height: 1px;
      width: 100%;
      background-color: v.$borderColor;
    }
  }
}
