@use "../../../scss/variables/variables" as v;
@use "../../../scss/variables/mixins/mixins" as m;
.stockContainer {
  margin: auto;
  width: 100%;
  max-width: 768px;
  //   border: 1px solid v.$borderColor;

  .stockDivTitle {
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    p {
      font-size: 1.5rem;
      width: fit-content;

      color: v.$primaryTextColor;
    }

    .saved-undertext {
      text-align: left;
        width: 100%;
        font-weight: 400;
        color: gray;
        font-size: 1rem;
    }
  }
  .chart-super-container {
    max-width: 768px;
    @include m.flex(row);
    @include m.horScroll(1rem);
    .clickableDiv {
      @include m.flex(row, center);
      flex: 0 0 135px;
      .chart-box {
        @include m.border(all,  1px, v.$borderColor, solid);
        @include m.flex(column, center, center);
        border-radius: 10px;
        height: auto;

        .chart-container {
          width: 70px;
        }
        .price-procentage-container {
          text-align: center;
        }
      }
    }
  }
  .line-father {
    width: 100%;
    padding: 1rem;
    .line {
      height: 1px;
      width: 100%;
      background-color: v.$borderColor;
    }
  }
  .empty {
    color: white;
    padding: 1rem;
  }
}
