@use "../../../scss/variables/variables" as v;

.highcharts-credits {
    display: none;
}

.highcharts-scrollbar-thumb {
    display: none;
}

.highcharts-scrollbar-track {
    display: none;
}

.highcharts-grid-line {
    display: none;
}


.highcharts-xaxis-labels {
    color: white;
}

.tooltip-date {
    font-size: 0.5rem;
}

.highcharts-tooltip-header {
    background: none;
    border: none;
    display: none;
}


