.Nav-container {
  z-index: 12;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    img {
      height: 10vh;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;

    #search-bar {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 8px;
    }

    #search-btn {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      div {
        transform: rotate(45deg);
        font-size: 1.25rem;
      }
    }
  }

  .nav-right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
  }

  .nav-menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .nav-btn-bars {
      width: 25px;
      height: 3px;
      background-color: black;
      margin: 3px 0;
    }
  }

  .nav-menu {
    display: flex;
    list-style: none;

    li {
      margin-right: 16px;

      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: gray;
        }
      }
    }

    &.open {
      display: flex;
    }
  }
}

@media (max-width: 768px) {
  .Nav-container {
    .nav-items {
      display: none;
    }

    .nav-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;

      background-color: white;
      width: 200px;
      flex-direction: column;
      padding: 10px;
      border: 1px solid #ccc;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

      li {
        margin: 10px 0;
      }
    }

    .nav-menu.open {
      display: flex;
    }

    .nav-menu-btn {
      display: flex;
    }
  }
}
