@use '../../../scss/variables/variables' as v;
@use '../../../scss/variables/mixins/mixins' as m;

.form-container {
    font-family: "franklin-gothic-urw", sans-serif;
    @include m.flex(column, center, center);



    .text {
        @include m.flex(column, center, start);
        @include m.size(auto, 100%);
        font-weight: 100;
        h1 {
            margin-bottom: 1rem;
        }
    }

    div {
        @include m.flex(column, center, center);

        .form {
            @include m.flex(column, center, start);
            @include m.size(auto, 100%);

            label {
                margin-top: 1rem;
            }

            input {
                margin-top: 0.25rem;
                padding: 0.75rem 1.5rem;
                border-radius: 4px;
                border: 1px solid lightgrey;
            }

            button {
                @include m.size(auto, 100%);
                // @include m.boxShadow;
                margin-top: 1rem;
                padding: 0.75rem 1.5rem;
                background-color: v.$mainColor;
                border: none;
                border-radius: 4px;
                color: v.$secondaryTextColor;
                
            }
        }
    }
}

