@use "../../../scss/variables/variables" as v;
@use "../../../scss/variables/mixins/mixins" as m;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homepage-start-logo{
  width: 100%;
  height: 85svh;
  @include m.flex(column, center, center);
  .homepage-logo{

  }
  .homepage-start-text{
    font-size: 4rem;
    color: white;
    font-weight: bold;
  }
}
.arrow-homepage{
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  .arrow{
    color: #ffffff;
    font-size: 1.5rem;
  }
}

.header-homepage {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 20svh;
  background: #000000;
  .silly-logo {
    width: 20svw;
    color: white;
  }

  .right-container {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 30svw;

    .fa-solid {
      color: #ffffff;
    }
  }
}

.header-container {
  @include m.flex(column, center, center);
  @include m.size(40svh, 100%);
  .header {
    font-size: 2em;
    color: white;
  }
}

.homePageText {
  width: 100%;
  @include m.flex(row, center, center);
  p {
    width: 60%;
    text-align: center;
    color: v.$primaryTextColor;
    font-size: 2em;
    margin: 50px 0;
  }
}
.chart-super-container {
  @include m.flex(column, flex-start, flex-start);
  width: 100%;
}
.chartSwitchBtns {
  margin-left: 2%;
  height: 70px;
  @include m.flex(row, flex-start, flex-end);
  .switchBtn {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100px;
    margin-left: 15px;
    color: white;
    background-color: v.$borderColor;
    font-size: 1rem;
  }
}
.chartDivContainer {
  width: 100%;
  @include m.flex(column, center, center);
}

.tableheader {
  color: v.$primaryTextColor;
  padding: 10px 0;
  @include m.flex(row, space-between, center);
  //  @include m.border(top, 1px, v.$borderColor, solid);
  @include m.border(bottom, 1px, v.$borderColor, solid);
  width: 90%;
  p {
    color: v.$primaryTextColor;
    font-size: 1.4rem;
  }
}
.chart-box-container {
  width: 90%;
}
.chart-box:first-child {
  @include m.border(top, 1px, v.$borderColor, solid);
  @include m.border(bottom, 1px, v.$borderColor, solid);
}
.chart-box {
  @include m.flex(row, space-between, center);
  @include m.size(5rem, 95%);
  @include m.border(bottom, 1px, v.$borderColor, solid);
  padding: 1rem;
  color: v.$primaryTextColor;
  background-color: v.$borderColor;
  border-radius: 5px;
  .ticker {
    text-align: center;
    padding: 1rem 0;
    font-size: 1.25em;
    font-weight: 600;
    color: v.$primaryTextColor;
  }

  .chart-container {
    @include m.size(5rem, 30%);
  }

  .price-procentage-container {
    @include m.size(auto, auto);
    text-align: right;
    .close-price {
      font-weight: 600;
    }

    .price-change-container {
      @include m.flex(row, space-evenly, center);
      .price-change {
        font-weight: 600;
        font-size: 0.75rem;
        margin-left: 0.25rem;
      }
    }
  }
  .positive {
    color: v.$positiveTextColor;
  }
  .negative {
    color: v.$negativeTextColor;
  }
}
