@use "../../../scss/variables/variables" as v;
@use "../../../scss/variables/mixins/mixins" as m;

.news {
  @include m.flex(column, center, center);
  // @include m.border(all, 1px, solid, v.$borderColor);
    border-radius: 1.5rem;
    margin-top: 10rem;
  width: 100%;
  max-width: 768px;
  padding: 1rem;
  position: relative;

  .title {
    color: v.$primaryTextColor;
    margin-bottom: 30px;

  }

  .newsSuperContainer {
    @include m.flex(column, center, center);
    color: v.$primaryTextColor;

    .newsContainer {
      @include m.flex(column, center, center);

      .newsTitle {
        margin: 0 10px;
        width: 100%;
        text-align: left;
      }

      .newsBody {
        margin: 1rem 0;
      }

      .date {
        width: 100%;
        text-align: left;

      }

      .articleLink {
        width: 100%;
        margin-top: 1rem;
        text-decoration: none;
        color: v.$negativeTextColor;
        cursor: pointer;

        &:visited {
          color: v.$visitedLinkColor;
        }

      }

      .line {
        height: 1px;
        width: 100%;
        background-color: v.$borderColor;
        margin: 20px 0;
      }
    }
  }
}