@use "../../../scss/variables/variables" as v;
@use "../../../scss/variables/mixins/mixins" as m;

.explore-header,
.white-header {
  margin-left: 2%;
  color: white;
}

.categories-container {
  display: flex;
  /* Gör så att barnen visas horisontellt */
  gap: 16px;
  /* Mellanrum mellan bilderna */
  overflow-x: auto;
  /* Lägg till horisontell scroll */
  overflow-y: hidden;
  /* Dölj vertikal scroll */
  scrollbar-width: thin;
  /* Anpassa skrollbarens storlek (Firefox-stöd) */
  scrollbar-color: black transparent;
  /* Anpassa skrollbarens färg (Firefox-stöd) */
  padding: 8px;
  /* Lägg till lite padding för estetik */
  transition: all 0.3s ease;
  /* Smidig övergång vid hover */

  div {
    flex-shrink: 0;

    /* Gör så att bilder inte krymper */
    img {
      height: 200px;
      width: 200px;
      object-fit: cover;
      /* Ser till att bilder fyller sina boxar proportionellt */
      border-radius: 8px;
      /* Lägg till rundade hörn */
    }
  }

  &:hover {
    overflow-x: auto;
    /* Aktivera horisontell scroll på hover */
  }
}

/* Valfritt: Anpassa skrollbarens utseende */
.categories-container::-webkit-scrollbar {
  height: 8px;
  /* Höjd på skrollbaren */
  background-color: black;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: black;
  /* Färg på skrollbargreppet */
  border-radius: 4px;
  /* Rundade hörn */
}

.categories-container::-webkit-scrollbar-track {
  background: transparent;
  /* Färg på skrollbarens "bakgrund" */
  color: black;
}

.markets-container {
  display: flex;
  /* Gör så att flaggorna visas horisontellt */
  gap: 16px;
  /* Mellanrum mellan flaggorna */
  overflow-x: auto;
  /* Lägg till horisontell scroll */
  overflow-y: hidden;
  /* Dölj vertikal scroll */
  scrollbar-width: thin;
  /* Anpassa skrollbarens storlek (Firefox-stöd) */
  scrollbar-color: black transparent;
  /* Anpassa skrollbarens färg (Firefox-stöd) */
  padding: 8px;
  /* Lägg till lite padding för estetik */
  transition: all 0.3s ease;
  /* Smidig övergång vid hover */

  div {
    flex-shrink: 0;

    /* Gör så att flaggorna inte krymper */
    .flag-icon {
      height: 150px;
      /* Anpassa höjden */
      width: auto;
      /* Behåll proportionerna */
      border-radius: 8px;
      /* Rundade hörn */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      /* Lätt skugga */
    }
  }

  &:hover {
    overflow-x: auto;
    /* Aktivera horisontell scroll på hover */
  }
}

.country-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.back-button {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.country-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: right;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
  align-items: flex-start;
  height: 10svh;
}

.symbol {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.last-refreshed {
  font-size: 14px;
  color: #666;
}

.key-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.key-stats > div {
  text-align: center;
}

.label {
  font-size: 12px;
  color: #666;
}

.change-value {
  font-size: 16px;
  font-weight: bold;
}

.change-value.positive {
  color: green;
}

.change-value.negative {
  color: red;
}

.volume-value {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.time-series {
  margin-top: 20px;
}

.time-series p {
  margin: 5px 0;
}

.category-container {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.category-name {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.header {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
  color: white;
}
.crypto-container {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 1fr);
  margin: 1rem 0.5rem;

  .crypto-header {
    font-size: 1rem;
    font-weight: 600;
  }

  .crypto {
    @include m.border(all, 3px, solid, v.$borderColor);
    border-radius: 0.5rem;
    margin: 0.2rem;
    .positive{
      color: v.$positiveTextColor; 
    }
    .negative{
      color: v.$negativeTextColor; 
    }
    i {
      font-size: 2.5rem;
    }
    .svg {
      width: 4rem;
      height: 4rem;
    }
  }
  .crypto-1 {
    grid-row: span 2;
    @include m.flex(column, space-evenly, flex-start);
    padding: 0.5rem;
    .crypto-ticker-1 {
      @include m.flex(column, space-evenly, center);
    }
    .crypto-content-1 {
      width: 100px;
      @include m.flex(row, space-between, center);
    }
  }
  .crypto-2,
  .crypto-4 {
    @include m.flex(row, space-evenly, center);
    margin-right: 0.3rem;
  }
  .crypto-content-2,
  .crypto-content-4 {
    @include m.flex(column, center, center);
  }
  .crypto-3 {
    grid-row: span 3;
    @include m.flex(column, space-evenly, center);
  }
  .crypto-5 {
    grid-column: span 2;
    @include m.flex(row, space-evenly, center);
    .crypto-content-5 {
      @include m.flex(column, space-evenly, center);
    }
  }
}
