@use '../../scss/variables/mixins/mixins' as m;
@use '../../scss/variables/variables' as v;


.footer-center-container{
    width: 100%;
    margin-top: 5rem;
    
    @include m.flex(row, center, center);
}
.footer-container {
    @include m.flex(column, space-between, center);
    height: 16rem;
    width: 100%;
    max-width: 768px;

    .footer-top-container{
        @include m.flex (row, center, center);
        .footer-logo-container{
            margin-right: 2.5rem;
            cursor: pointer;
            img{
                width: 150px;
                height: 150px;
            }
        }
        .footer-top-text{
            p{
                font-size: 2rem;
                font-weight: bold;
                color: white;
            }
        }
    }
    .footer-bottom-container{
        @include m.flex(row, space-evenly, center);
        width: 100%;
        .footer-section-1{
            p{
                cursor: pointer;
                color: white;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
        .footer-section-2{
            p{
                cursor: pointer;
                color: white;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}