$mainColor: #44b123;
$primaryTextColor: white;
$secondaryTextColor: white;
$positiveTextColor: #68ecab;
$negativeTextColor: #fc7676;
$borderColor: rgb(104, 104, 104);
$mainColorBtns: #1dac64;

$desktop: 421px;
