$mainColor: #44b123;
$primaryTextColor: white;
$secondaryTextColor: white;
$positiveTextColor: #68ecab;
$negativeTextColor: #fc7676;
$borderColor: rgb(37, 37, 37);
$mainColorBtns: #1dac64;
$visitedLinkColor: #b23c3c;

$desktop: 421px;
